@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(230 230 230);
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 35px;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  min-height: 480px;
}
.chocolate-collection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chocolates {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.chocolate {
  cursor: pointer;
  display: grid;
  place-items: center;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  background-color: #fff;
  width: 250px;
  height: 150px;
}

.chocolate img {
  object-fit: contain;
  width: 100%;
}

.selected-chocolates {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.selected-chocolates h2 {
  text-align: center;
}

.selected-chocolates p {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
}

.selected-item {
  display: flex;
  justify-content: space-between;
  padding: 7px 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

#totalPrice {
  margin-right: 5px;
}

@media screen and (max-width: 950px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
